  @import url(/reset.css);
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --light-grey: #d5e1d5;
    --blue: #2C7DFA;
    --blue-shade: #3685ff;
    --dark-navy: #1f314f;
    --grey: #7d889e;
    --white: #ffffff;
    --black: #000000;
    --font: 'Outfit', sans-serif;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 0.938rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.188px;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    
}

.container__content {
    margin: 85px 27px 85px 28px;
    padding: 16px 16px 193px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 320px;
    height: 497px;
    border-radius: 20px;
    background-color: var(--white);
}


.image {
    width: 288px;
    height: 288px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #2C7DFA;
}


.container__content-heading {
    margin-top: 24px;
    width: 288x;
    color: var(--dark-navy);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: var(--font);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container__content-paragraph {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    color: var(--grey);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

}

@media screen and (min-width: 1440px) {
    .container__content-heading {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .container__content-paragraph {
        font-weight: 700;
        color: var(--black);
    }
}