@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --light-grey: #d5e1d5;
    --blue: #2C7DFA;
    --blue-shade: #3685ff;
    --dark-navy: #1f314f;
    --grey: #7d889e;
    --white: #ffffff;
    --black: #000000;
    --font: 'Outfit', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--light-grey);
}

main {
    font-family: var(--font);
}

.card {
    max-width: 20rem;
    padding: 1rem;
    background-color: var(--white);
    align-items: center;
    border-radius: 1rem;
}

h1 {
    color: var(--dark-navy);
    font-weight: 700;
    font-size: 1.375rem;
    margin-top: 1.5rem;
    text-align: center;
}

p {
    color: var(--grey);
    margin-bottom: 16px;
    padding: 1rem;
    font-size: .938rem;
    text-align: center;
}

.qr-code {
    max-width: 288px;
    max-height: 288px;
    border-radius: 0.625rem;
}
